@import 'tailwind';
@import 'typography';

* {
  @apply box-border select-none;
}

html,
body,
#root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply h-[100vh] bg-base-primary text-secondary-text leading-6 font-normal font-avenir text-base;
}

.session-manager {
  @apply h-full w-full;
}
